.feeds {
    overflow-y: auto;
    padding: 0 8px;
}

.feeds::-webkit-scrollbar {
    width: 8px;
    background: #2F2F37;
}

.feeds::-webkit-scrollbar-thumb {
    width: 8px;
    height: 492px;
    background: #8585AD;
}
