.container {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 64px;
    grid-template-rows: 64px;
    box-sizing: border-box;
    width: 64px;
    height: 64px;
    background: center / contain linear-gradient(to right, #801AB2, #4C4CFF);
    border-radius: 50%;
}

.content {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    background: #131316;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 55px;
}

.image {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 50px;
    vertical-align: middle;
    border-radius: 50%;
}

.stackCount {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
