.order_complete_card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.icon_wrapper {
    position: relative;
    min-height: 64px;
    width: 64px;
    margin-right: 10px;
}

.info_wrapper {
    display: flex;
    flex-direction: row;
justify-content: flex-start;
    align-items: center;
}

.price {
    display: flex;
    justify-self: right;
    align-items: center;
}
