.container {
    display: grid;
    grid-template-columns: repeat(3, calc(100% / 3));;
    width: 1240px;
    margin: 0 auto;
    align-items: center;
}

.menu_list {
    display: flex;
    justify-self: start;
    align-items: center;
    gap: 50px;
    list-style: none;
    padding: 0;
}

.menu_ref {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: #F2F2F3;
    gap: 8px;
}

.menu_logo {
    display: flex;
    align-items: center;
    justify-self: center;
}

.menu_profile {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    gap: 8px;
}
