.error {
    display:flex;
    justify-content: center;
    margin-top: 10vh;
    align-items: center;
    height:20vh;
    font-family: Helvetica, sans-serif, Arial;
    color: red;
    text-shadow: 0 0 1px white;
}
