.order_complete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px 40px;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.price_wrapper {
    display: flex;
}

.list {
    list-style: none;
    max-height: 400px;
    overflow-y: auto;
    padding-left: 0;
    padding-right: 8px;
}

.list::-webkit-scrollbar {
    width: 8px;
    background: #2F2F37;
}

.list::-webkit-scrollbar-thumb {
    width: 8px;
    height: 492px;
    background: #8585AD;
}
