.wrapper {
    display: flex;
    align-items: center;
    margin: 8px 0;
}

.element_wrapper {
    min-width: 536px;
}

.element_wrapper div {
    width: 536px;
}

.handle_wrapper {
    min-width: 32px;
}
